.profileview{
    height: 700px;
}
.profileview-image
 {
  display: flex;
  justify-content: center;
}
.prof-img-container {
    width: 150px;
    height: 150px;
    
  }
  .prof-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }