.view-job-desc {
  width: 100%;
}
.edit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-header > h4 {
  color: #178C9B;
  letter-spacing: 00.05em;
}

.view-img-container {
  width: 150px;
  height: 150px;
  background-color: aqua;
  border-radius: 1000px;
}
.view-job-title,
.view-job-image {
  display: flex;
  justify-content: center;
}
.description-view,
.view-roles,
.view-qualifications {
  width: 90%;
  margin: auto;
}
.edit-icon {
  font-size: 16px;
  color: #178c9b;
  transition: color 0.3s;
}

.edit-icon:hover {
  color: rgb(219, 82, 82);
}
