.logoContainer{
     justify-content: "center";
     align-items: center;
    background-color:"#179CBD" ;
    display: flex;
   
}
.logo-img{
    background-color:"#179CBD" ;
    object-fit: cover;
    width: 200;
    height: 100;
    margin: auto;
    margin-top: 50px;

}