.archives-home{
    margin: 50px;
    overflow: auto;
    height: 100vh;
}
.cards-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
  }
  
  .card {
    flex: 1;
  margin: 0 10px;
  height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  justify-content: center;
  display: block;
  align-items: center;
  align-content: center;
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Elevation effect */

  /* Color and hover effect */
  background-color: #fff;
  transition: background-color 0.3s ease;

  /* Hover effect */
  cursor: pointer;
  
  }
  .card-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly increase the box-shadow on hover */
    background-color: #28a0d3;
}
  .card{
    text-align: center;
  }

  /* ArchiveCard.css */

.card-container {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 280px;
    margin: 10px;
    background-color: #61dafb;
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }
  
  .archive-avatar {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    overflow: hidden;
  }
  
  .text-container {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text-content {
    text-align: center;
    
  }
  .text-content>h3 {
    text-align: center;
    color: white;
  }
  