.category-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-top h3{
    font-family: 'Open Sans', sans-serif;
}
.category-home{
    margin: 50px;
    overflow: auto;
    height: 100vh;
}