.companytop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
.companyhome{
    margin: 50px;
    overflow: auto;
    height: 100vh;
}
.companytop h3{
    font-family: 'Open Sans', sans-serif;
}
.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-row-left,.form-row-right{
    width: 100%;
}
.form-row-left{
    margin-left: 4px;
}
.form-row-right{
    margin-right: 4px;
}