.language-selector {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 40%;
  }
  
  .language-option {
    cursor: pointer;
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
  }
  
  .language-option:hover {
    background-color: #db3636;
  }
  
  .language-option.active {
    background-color: #178C9B;;
    color: #fff;
  }
  