@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.userstop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userstop h3{
    font-family: 'Open Sans', sans-serif;
}
.userhome{
    margin: 50px;
    overflow: auto;
    height: 100vh;
}
.borderList {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .borderList li {
    border: 1px solid grey;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 2px;
  }
  .profile-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
